<section class="footer-contactus">
	<p>地址：合肥市北城世纪城金源大道祥徽苑写字楼1号23层 邮编：231131</p>
	<p>版权所有：金亚太律师事务所</p>
	<p>Copyright @ 2014 www.ahxb.cn All Rights Reserved</p>
	<p>联系电话：400-0040-148 </p>
	<p>技术支持：<a href="#">网律科技</a></p>
</section>
<div class="height50"></div>
<footer class="aui-bar aui-bar-tab footer">
    <div class="aui-bar-tab-item active" tapmode>
    	<a href="/">
            <i class="ico-btmicon1 marginauto"></i>
            <div class="aui-bar-tab-label">网站首页</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
    	<a href="/lists_67.html">
            <i class="ico-btmicon2 marginauto"></i>
            <div class="aui-bar-tab-label">团队律师</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
    	<a href="tel:18066668888">
            <i class="ico-btmicon3 marginauto"></i>
            <div class="aui-bar-tab-label">一键拨号</div>
        </a>
    </div>
    <div class="aui-bar-tab-item" tapmode>
    	<a href="#">
            <i class="ico-btmicon4 marginauto"></i>
            <div class="aui-bar-tab-label">更多</div>
        </a>
        <div class="b-navmorebox abs">
        	<ul>
        		<li><a href="/show_64_199.html">关于金亚太</a></li>
        		<li><a href="/lists_83.html">团队动态</a></li>
        		<li><a href="/lists_74.html">亲办案例</a></li>
        		<li><a href="/category_149.html">刑事下午茶</a></li>
        		<li><a href="/lists_82.html">刑事知识</a></li>
        		<li><a href="/lists_147.html">辩护手记</a></li>
        		<li><a href="/ask.html">法律咨询</a></li>
        	</ul>
        </div>
    </div>
</footer>
</body>
<script type="text/javascript" src="{JS_PATH}wap/home.js" ></script>
</html>