<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="297"><a href="/" target="_blank"><img name="index_r1_c2" src="{IMG_PATH}ahxb/index_r1_c2.jpg" width="297" height="77" border="0" id="index_r1_c2" alt="{$siteinfo['name']}" /></a></td>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="33" align="right">
<form action="/e/search/" method="post" name="searchform" id="searchform">
<table border="0" cellspacing="2" cellpadding="0">
<tr>
<td>
<input name="keyword" type="text" size="26" id="keyword" class="inputText" style="height:18px;" placeholder=" 站内搜索" />
</td>
<td><input type="image" class="inputSub topSearch" src="{IMG_PATH}/default/search.gif" />
</td>
<td width="56" align="right" style="padding-top:3px;"><a href="/search/" target="_blank">高级搜索</a></td>
</tr>
</table>
</form>
<script type="text/javascript">
    $(function(){
        $(".topSearch").click(function(){
            if(!$("#keyword").val()){
                alert("请填写搜索内容!");
                return false;
            }
        });
    });
</script>
</td>
      </tr>
      <tr>
        <td height="33">
<div class="menu">
<ul>
<li><a class="hide" href="/">首 页</a></li>
<li><a class="hide" href="/a/1/2014-04-23/199.html">关于我们</a>
<!--[if lte IE 6]>
<a href="index.html">MENUS
<table><tr><td>
<![endif]-->
    <ul>
    <li><a href="/a/1/2014-04-23/199.html">金亚太简介</a></li>
    <li><a href="{$CATEGORYS[68][url]}">官方荣誉</a></li>
    <li><a href="/a/1/2014-04-25/214.html">团队介绍</a></li>
    <li><a href="/a/1/2014-04-25/215.html">办公环境</a></li>
    <li><a href="/a/1/2014-04-25/213.html">组织机构</a></li>
    </ul>
<!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
</li>
<li><a class="hide" href="{$CATEGORYS[67][url]}">专业团队</a>
<!--[if lte IE 6]>
<a href="../layouts/index.html">LAYOUTS
<table><tr><td>
<![endif]-->
    <ul>
    <li><a href="/a/4/2014-04-21/115.html">团队导师</a></li>
    <li><a href="{$CATEGORYS[67][url]}">首席律师</a></li>
    <li><a href="{$CATEGORYS[70][url]}">高级顾问</a></li>
    </ul>
<!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
</li>
<li><a class="hide" href="{$CATEGORYS[74][url]}">亲办案例</a>
<!--[if lte IE 6]>
<a href="../boxes/index.html">BOXES
<table><tr><td>
<![endif]-->
    <ul>
    <li><a href="{$CATEGORYS[75][url]}">职务犯罪</a></li>
    <li><a href="{$CATEGORYS[77][url]}">经济犯罪</a></li>
    <li><a href="{$CATEGORYS[79][url]}">毒品犯罪</a></li>
    <li><a href="{$CATEGORYS[140][url]}">其他犯罪</a></li>
    <li><a href="{$CATEGORYS[81][url]}">辩护词集</a></li>
    </ul>
<!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
</li>
<li><a class="hide" href="{$CATEGORYS[150][url]}">刑事法规</a>
<!--[if lte IE 6]>
<a href="../opacity/index.html">OPACITY
<table><tr><td>
<![endif]-->
    <ul>
    <li><a href="{$CATEGORYS[143][url]}" title="colour wheel">{$CATEGORYS[143][catname]}</a></li>
    <li><a href="{$CATEGORYS[144][url]}" title="a menu using opacity">{$CATEGORYS[144][catname]}</a></li>
    <li><a href="{$CATEGORYS[145][url]}" title="partial opacity">{$CATEGORYS[145][catname]}</a></li>
    <li><a href="{$CATEGORYS[146][url]}" title="partial opacity II">{$CATEGORYS[146][catname]}</a></li>
    </ul>
<!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
</li>
<li><a class="hide" href="{$CATEGORYS[86][url]}">{$CATEGORYS[86][catname]}</a>
<!--[if lte IE 6]>
<a href="../ie/index.html">EXPLORER
<table><tr><td>
<![endif]-->
    <ul>
    <li><a href="{$CATEGORYS[85][url]}">{$CATEGORYS[85][catname]}</a></li>
    <li><a href="{$CATEGORYS[139][url]}">{$CATEGORYS[139][catname]}</a></li>
    </ul>
<!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->
</li>
<li><a class="hide" href="{$CATEGORYS[83][url]}">{$CATEGORYS[83][catname]}</a></li>
<li><a class="hide" href="/e/tool/gbook/?bid=1">法律咨询</a></li>
</ul>
<!-- clear the floats if required -->
<div class="clear"> </div>
</div>
</td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top">
<link rel="stylesheet" type="text/css" href="{CSS_PATH}ahxb/lrtk.css" />
<script type="text/javascript" src="{JS_PATH}ahxb/pptBox.js"></script>
<div id="xxx"  >
     <script>
     var box =new PPTBox();
     box.width = 740; //宽度
     box.height = 252;//高度
     box.autoplayer = 3;//自动播放间隔时间

     //box.add({"url":"图片地址","title":"悬浮标题","href":"链接地址"})
     box.add({"url":"{IMG_PATH}ahxb/001.jpg","href":"/a/1/2014-04-23/199.html","title":"王亚林刑事辩护网","alt":"王亚林刑事辩护网"})
     box.add({"url":"{IMG_PATH}ahxb/002.jpg","href":"/a/1/2014-04-23/199.html","title":"安徽刑事律师事务所","alt":"安徽刑事律师事务所"})
     box.show();
    </script>
</div>

    </td>
    <td width="260" valign="top"><img src="{IMG_PATH}ahxb/youxiu_s1.jpg" width="260" height="252" border="0" usemap="#Map" /></td>
  </tr>
</table>
<div style="height:10px; line-height:10px; clear:both;"></div>
<map name="index_r2_c2Map" id="index_r2_c2Map">
    <area shape="rect" coords="788,61,882,87" href="{$info['sina_weibo']}" target="_blank" />
    <area shape="rect" coords="887,61,980,87" href="{$info['qq_weibo']}" target="_blank" />
</map>

<map name="Map" id="Map"><area shape="rect" coords="52,89,144,114" href="{$info['sina_weibo']}" target="_blank" />
    <area shape="rect" coords="149,88,241,115" href="{$info['qq_weibo']}" target="_blank" />
    <area shape="rect" coords="75,133,221,234" href="/a/4/2014-04-21/115.html" target="_blank" />
</map>