<!DOCTYPE html>
<html lang="'en">
<head>

    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/show.js"></script>
    <script type="text/javascript" src="js/myfocus-2.0.1.min.js" charset="utf-8"></script><!--引入myFocus库-->
    <script type="text/javascript">
        myFocus.set({
            id:'boxID',//焦点图盒子ID
            pattern:'mF_fancy',//风格应用的名称
            time:3,//切换时间间隔(秒)
            trigger:'click',//触发切换模式:'click'(点击)/'mouseover'(悬停)
            width:350,//设置图片区域宽度(像素)
            height:300,//设置图片区域高度(像素)
            txtHeight:'default'//文字层高度设置(像素),'default'为默认高度，0为隐藏
        });
        
        function move() {
            var ul = document.getElementById("head");
            ul.style.display = "";
        }
        function out() {
            var ul = document.getElementById("head");
            ul.style.display = "none";
        }
    </script>
    
    <title>BBS论坛</title>
</head>
    
<body>
    
    <!--顶部toptb-->
    <div id="toptb" class="c1">
        <div class="wp">
            <div class="z">
                <a href="" onclick="setHomepage('');">设为首页</a>
                <a href="" onclick="addFavorite(this.href, '');">收藏本站</a>
            </div>
            <div class="y">
                
            </div>
        </div>
    </div>
    
    
    <div class="navbar">
        <!--logo-->
        <div class="hd">
            <div class="hdc"><h2><a href="index.html">BBS论坛</a></h2></div>
            <div class="user">
                <div class="user-box">
                    <div class="user-nav">
                        <a id="a1" class="user-avatar" href="" onmousemove="move()" onmouseout="out()"><img src="images/noavatar_middle.gif" alt="fzp_5431的厨房" width="50px" height="50px"  /></a>
                        <div class="user-nav-submenu"  >
                          <ul id="head" class="plain" style="display: none;" onmousemove="move()" onmouseout="out()">
                            <li><a href="#" >个人信息</a></li>
                            <li><a href="#" >我的主题</a></li>
                            <li><a href="#" >我的帖子</a></li>
                            <li><a href="#" >我喜欢的</a></li>
                            <li><a href="#">注销</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        
        <!--导航nav-->
        <div class="nav">
            <ul class="" id="">
                <li><a href="{:U('Index/index')}" >首页</a></li>
                <li><a href="{:U('Content/content')}" >板块</a></li>
                <li><a href="#" >社团</a></li>
            </ul>
        </div>

        
        <!--搜索search-->
        <div class="search">
            <form class="search_form" id="search_form">
                <table cellSpacing="0" cellPadding="0">
                    <tr>
                        <td class="sch_txt_td"><input id="sch_txt" class="xg1" type="text" placeholder="请输入搜索内容" /></td>
                        <td class="sch_type_td">
                            <select id="sch_type" class="xg1" style=" wight:60px; height:25px;">
                                <option value ="帖子">帖子</option>
                                <option value ="用户">用户</option>
                            </select>
                        </td>
                        <td class="sch_btn_td"><input type="button" id="sch_btn" class="sch_btn" value="搜索" style="width:60px; height:25px;" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    
    <!--notice--> 
    <div class="notice">

        <div class="ad">
            <div id="boxID"><!--焦点图盒子-->
              <div class="loading"><img src="images/loading.gif" alt="请稍候..." /></div>
              <!--载入画面(可删除)-->
              <div class="pic"><!--内容列表(li数目可随意增减)-->
                <ul>
                  <li><a href="#"><img src="images/ad2.jpg" thumb="" alt="" text="详细描述2" /></a></li>
                  <li><a href="#"><img src="images/ad3.jpg" thumb="" alt="" text="详细描述3" /></a></li>
                  <li><a href="#"><img src="images/ad4.jpg" thumb="" alt="" text="详细描述4" /></a></li>
                  <li><a href="#"><img src="images/ad3.jpg" thumb="" alt="" text="详细描述5" /></a></li>
                </ul>
              </div>
            </div>
        </div>
        <!--ad-->

        <div class="show">
            
            <!--show标题-->
            <div class="show-tit" id="show-tit">
                <ul>
                    <li class="select"><a href="#">最新主题</a></li>
                    <li><a href="#">热门帖子</a></li>
                    <li><a href="#">最新回复</a></li>
                </ul>
            </div>
            
            <!--show内容-->
            <div class="show-con" id="show-con">
                <div class="mod" style="display:block">
                    <ul>
                        <li><a href="#">asdhkfhakfhakshf</a><span>是我发布的</span></li>
                        <li><a href="#">asdhkfhakfhakshf</a><span>是我发布的</span></li>
                        <li><a href="#">asdhkfhakfhakshf</a><span>是我发布的</span></li>
                        <li><a href="#">asdhkfhakfhakshf</a><span>是我发布的</span></li>
                        <li><a href="#">asdhkfhakfhakshf</a><span>是我发布的</span></li>
                        <li><a href="#">asdhkfhakfhakshf</a><span>是我发布的</span></li>
                    </ul>
                </div>
                <div class="mod" style="display:none">
                    <ul>
                        <li><a href="#">zxcvbnmqadafgdsh</a><span>是我发布的</span></li>
                        <li><a href="#">zxcvbnmqadafgdsh</a><span>是我发布的</span></li>
                        <li><a href="#">zxcvbnmqadafgdsh</a><span>是我发布的</span></li>
                        <li><a href="#">zxcvbnmqadafgdsh</a><span>是我发布的</span></li>
                        <li><a href="#">zxcvbnmqadafgdsh</a><span>是我发布的</span></li>
                        <li><a href="#">zxcvbnmqadafgdsh</a><span>是我发布的</span></li>
                    </ul>
                </div>
                <div class="mod" style="display:none">
                    <ul>
                        <li><a href="#">qwertyuiopdzxnzv</a><span>是我发布的</span></li>
                        <li><a href="#">qwertyuiopdzxnzv</a><span>是我发布的</span></li>
                        <li><a href="#">qwertyuiopdzxnzv</a><span>是我发布的</span></li>
                        <li><a href="#">qwertyuiopdzxnzv</a><span>是我发布的</span></li>
                        <li><a href="#">qwertyuiopdzxnzv</a><span>是我发布的</span></li>
                        <li><a href="#">qwertyuiopdzxnzv</a><span>是我发布的</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--show通知-->

        <div class="announcement">
            <div class="acm-head"><h2><a href="#">公告</a></h2></div>
            <div class="acm-li">
                <ul>
                    <li><a href="#">qwertyuiopdzxnzv</a></li>
                    <li><a href="#">qwertyuiopdzxnzv</a></li>
                    <li><a href="#">qwertyuiopdzxnzv</a></li>
                    <li><a href="#">qwertyuiopdzxnzv</a></li>
                    <li><a href="#">qwertyuiopdzxnzv</a></li>
                    <li><a href="#">qwertyuiopdzxnzv</a></li>
                </ul>
            </div>
        </div>
        <!--annoucement公告-->

    </div>
    
    
    <!--板块内容wrap-->
    <div class="wrap">   
        
        <div class="wrap_cont">
            
            <div class="post">
                <!--校园咨询-->
                <div class="post-li" id="li1" style="block">
                    <div class="pl-head">
                        <h2><a href="javascript:;" id="pl1">校园咨询</a></h2>
                        <p>版主：方可飞</p>
                    </div>
                    
                    <div class="pl-box">
                    <ul>
                        <li class="pl-con" id="pl-con">
                            <div class="pl-con-img">
                                <a href="#"><img src="images/comment1.png" /></a>
                            </div>
                            <div class="pl-con-com">
                                <h2><a href="#">校园快讯</a></h2>
                                <p>hkjshkjhsklghkshgklsajhgkjhsagalgsdgasasgagsadggagadgshdsdfasfsfsfafasfafs</p>
                            </div>
                            <div class="pl-con-m">
                                <span class="pl-con-m-xi">231</span>
                                <span class="pl-con-m-gi">/ 2321</span>
                            </div>
                            <div class="pl-con-r">
                                <p class="r-tit"><a href="#">某个帖子</a></p>
                                <div class="r-con">
                                    <span>什么时候发的</span>
                                    <a href="#">谁发的</a>
                                </div>
                            </div>
                        </li>

                        <li class="pl-con" id="pl-con">
                            <div class="pl-con-img">
                                <a href="#"><img src="images/comment1.png" /></a>
                            </div>
                            <div class="pl-con-com">
                                <h2><a href="#">校园快讯</a></h2>
                                <p>hkjshkjhsklghkshgklsajhgkjhsagalgsdgasasgagsadggagadgshdsdfasfsfsfafasfafs</p>
                            </div>
                            <div class="pl-con-m">
                                <span class="pl-con-m-xi">231</span>
                                <span class="pl-con-m-gi">/ 2321</span>
                            </div>
                            <div class="pl-con-r">
                                <p class="r-tit"><a href="#">某个帖子</a></p>
                                <div class="r-con">
                                    <span>什么时候发的</span>
                                    <a href="#">谁发的</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    </div>
                    
                </div>
                
                <!--校园之家-->
                <div class="post-li" id="li2" style="block">
                    <div class="pl-head">
                        <h2><a href="javascript:;" id="pl2">校园之家</a></h2>
                        <p>版主：方可飞</p>
                    </div>
                    
                    <div class="pl-box">
                    <ul>
                        <li class="pl-con" id="pl-con">
                        <div class="pl-con-img">
                            <a href="#"><img src="images/comment1.png" /></a>
                        </div>
                        <div class="pl-con-com">
                            <h2><a href="#">校园快讯</a></h2>
                            <p>hkjshkjhsklghkshgklsajhgkjhsagalgsdgasasgagsadggagadgshdsdfasfsfsfafasfafs</p>
                        </div>
                        <div class="pl-con-m">
                            <span class="pl-con-m-xi">231</span>
                            <span class="pl-con-m-gi">/ 2321</span>
                        </div>
                        <div class="pl-con-r">
                            <p class="r-tit"><a href="#">某个帖子</a></p>
                            <div class="r-con">
                                <span>什么时候发的</span>
                                <a href="#">谁发的</a>
                            </div>
                        </div>
                    </li>

                        <li class="pl-con" id="pl-con">
                            <div class="pl-con-img">
                                <a href="#"><img src="images/comment1.png" /></a>
                            </div>
                            <div class="pl-con-com">
                                <h2><a href="#">校园快讯</a></h2>
                                <p>hkjshkjhsklghkshgklsajhgkjhsagalgsdgasasgagsadggagadgshdsdfasfsfsfafasfafs</p>
                            </div>
                            <div class="pl-con-m">
                                <span class="pl-con-m-xi">231</span>
                                <span class="pl-con-m-gi">/ 2321</span>
                            </div>
                            <div class="pl-con-r">
                                <p class="r-tit"><a href="#">某个帖子</a></p>
                                <div class="r-con">
                                    <span>什么时候发的</span>
                                    <a href="#">谁发的</a>
                                </div>
                            </div>
                        </li>
                        
                        <li class="pl-con" id="pl-con">
                            <div class="pl-con-img">
                                <a href="#"><img src="images/comment1.png" /></a>
                            </div>
                            <div class="pl-con-com">
                                <h2><a href="#">校园快讯</a></h2>
                                <p>hkjshkjhsklghkshgklsajhgkjhsagalgsdgasasgagsadggagadgshdsdfasfsfsfafasfafs</p>
                            </div>
                            <div class="pl-con-m">
                                <span class="pl-con-m-xi">231</span>
                                <span class="pl-con-m-gi">/ 2321</span>
                            </div>
                            <div class="pl-con-r">
                                <p class="r-tit"><a href="#">某个帖子</a></p>
                                <div class="r-con">
                                    <span>什么时候发的</span>
                                    <a href="#">谁发的</a>
                                </div>
                            </div>
                        </li>
                        
                        <li class="pl-con" id="pl-con">
                            <div class="pl-con-img">
                                <a href="#"><img src="images/comment1.png" /></a>
                            </div>
                            <div class="pl-con-com">
                                <h2><a href="#">校园快讯</a></h2>
                                <p>hkjshkjhsklghkshgklsajhgkjhsagalgsdgasasgagsadggagadgshdsdfasfsfsfafasfafs</p>
                            </div>
                            <div class="pl-con-m">
                                <span class="pl-con-m-xi">231</span>
                                <span class="pl-con-m-gi">/ 2321</span>
                            </div>
                            <div class="pl-con-r">
                                <p class="r-tit"><a href="#">某个帖子</a></p>
                                <div class="r-con">
                                    <span>什么时候发的</span>
                                    <a href="#">谁发的</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    </div>
                    
                </div>
                
                <!--校园社团-->
                <div class="post-li" id="li3" style="block">
                    <div class="pl-head">
                        <h2><a href="javascript:;" id="pl3">校园社团</a></h2>
                        <p>版主：方可飞</p>
                    </div>
                    
                    <div class="pl-box">
                    <ul>
                        <li class="pl-con" id="pl-con">
                        <div class="pl-con-img">
                            <a href="#"><img src="images/comment1.png" /></a>
                        </div>
                        <div class="pl-con-com">
                            <h2><a href="#">校园快讯</a></h2>
                            <p>hkjshkjhsklghkshgklsajhgkjhsagalgsdgasasgagsadggagadgshdsdfasfsfsfafasfafs</p>
                        </div>
                        <div class="pl-con-m">
                            <span class="pl-con-m-xi">231</span>
                            <span class="pl-con-m-gi">/ 2321</span>
                        </div>
                        <div class="pl-con-r">
                            <p class="r-tit"><a href="#">某个帖子</a></p>
                            <div class="r-con">
                                <span>什么时候发的</span>
                                <a href="#">谁发的</a>
                            </div>
                        </div>
                    </li>

                        <li class="pl-con" id="pl-con">
                            <div class="pl-con-img">
                                <a href="#"><img src="images/comment1.png" /></a>
                            </div>
                            <div class="pl-con-com">
                                <h2><a href="#">校园快讯</a></h2>
                                <p>hkjshkjhsklghkshgklsajhgkjhsagalgsdgasasgagsadggagadgshdsdfasfsfsfafasfafs</p>
                            </div>
                            <div class="pl-con-m">
                                <span class="pl-con-m-xi">231</span>
                                <span class="pl-con-m-gi">/ 2321</span>
                            </div>
                            <div class="pl-con-r">
                                <p class="r-tit"><a href="#">某个帖子</a></p>
                                <div class="r-con">
                                    <span>什么时候发的</span>
                                    <a href="#">谁发的</a>
                                </div>
                            </div>
                        </li>
                        
                        <li class="pl-con" id="pl-con">
                            <div class="pl-con-img">
                                <a href="#"><img src="images/comment1.png" /></a>
                            </div>
                            <div class="pl-con-com">
                                <h2><a href="#">校园快讯</a></h2>
                                <p>hkjshkjhsklghkshgklsajhgkjhsagalgsdgasasgagsadggagadgshdsdfasfsfsfafasfafs</p>
                            </div>
                            <div class="pl-con-m">
                                <span class="pl-con-m-xi">231</span>
                                <span class="pl-con-m-gi">/ 2321</span>
                            </div>
                            <div class="pl-con-r">
                                <p class="r-tit"><a href="#">某个帖子</a></p>
                                <div class="r-con">
                                    <span>什么时候发的</span>
                                    <a href="#">谁发的</a>
                                </div>
                            </div>
                        </li>
                        
                        <li class="pl-con" id="pl-con">
                            <div class="pl-con-img">
                                <a href="#"><img src="images/comment1.png" /></a>
                            </div>
                            <div class="pl-con-com">
                                <h2><a href="#">校园快讯</a></h2>
                                <p>hkjshkjhsklghkshgklsajhgkjhsagalgsdgasasgagsadggagadgshdsdfasfsfsfafasfafs</p>
                            </div>
                            <div class="pl-con-m">
                                <span class="pl-con-m-xi">231</span>
                                <span class="pl-con-m-gi">/ 2321</span>
                            </div>
                            <div class="pl-con-r">
                                <p class="r-tit"><a href="#">某个帖子</a></p>
                                <div class="r-con">
                                    <span>什么时候发的</span>
                                    <a href="#">谁发的</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    </div>
                    
                </div>
                
                <!--校园-->
                <div class="post-li" id="li4" style="block">
                    <div class="pl-head">
                        <h2><a href="javascript:;" id="pl4">校园</a></h2>
                        <p>版主：方可飞</p>
                    </div>
                    
                    <div class="pl-box">
                    <ul>
                        <li class="pl-con" id="pl-con">
                        <div class="pl-con-img">
                            <a href="#"><img src="images/comment1.png" /></a>
                        </div>
                        <div class="pl-con-com">
                            <h2><a href="#">校园快讯</a></h2>
                            <p>hkjshkjhsklghkshgklsajhgkjhsagalgsdgasasgagsadggagadgshdsdfasfsfsfafasfafs</p>
                        </div>
                        <div class="pl-con-m">
                            <span class="pl-con-m-xi">231</span>
                            <span class="pl-con-m-gi">/ 2321</span>
                        </div>
                        <div class="pl-con-r">
                            <p class="r-tit"><a href="#">某个帖子</a></p>
                            <div class="r-con">
                                <span>什么时候发的</span>
                                <a href="#">谁发的</a>
                            </div>
                        </div>
                    </li>

                        <li class="pl-con" id="pl-con">
                            <div class="pl-con-img">
                                <a href="#"><img src="images/comment1.png" /></a>
                            </div>
                            <div class="pl-con-com">
                                <h2><a href="#">校园快讯</a></h2>
                                <p>hkjshkjhsklghkshgklsajhgkjhsagalgsdgasasgagsadggagadgshdsdfasfsfsfafasfafs</p>
                            </div>
                            <div class="pl-con-m">
                                <span class="pl-con-m-xi">231</span>
                                <span class="pl-con-m-gi">/ 2321</span>
                            </div>
                            <div class="pl-con-r">
                                <p class="r-tit"><a href="#">某个帖子</a></p>
                                <div class="r-con">
                                    <span>什么时候发的</span>
                                    <a href="#">谁发的</a>
                                </div>
                            </div>
                        </li>
                        
                        <li class="pl-con" id="pl-con">
                            <div class="pl-con-img">
                                <a href="#"><img src="images/comment1.png" /></a>
                            </div>
                            <div class="pl-con-com">
                                <h2><a href="#">校园快讯</a></h2>
                                <p>hkjshkjhsklghkshgklsajhgkjhsagalgsdgasasgagsadggagadgshdsdfasfsfsfafasfafs</p>
                            </div>
                            <div class="pl-con-m">
                                <span class="pl-con-m-xi">231</span>
                                <span class="pl-con-m-gi">/ 2321</span>
                            </div>
                            <div class="pl-con-r">
                                <p class="r-tit"><a href="#">某个帖子</a></p>
                                <div class="r-con">
                                    <span>什么时候发的</span>
                                    <a href="#">谁发的</a>
                                </div>
                            </div>
                        </li>
                        
                        <li class="pl-con" id="pl-con">
                            <div class="pl-con-img">
                                <a href="#"><img src="images/comment1.png" /></a>
                            </div>
                            <div class="pl-con-com">
                                <h2><a href="#">校园快讯</a></h2>
                                <p>hkjshkjhsklghkshgklsajhgkjhsagalgsdgasasgagsadggagadgshdsdfasfsfsfafasfafs</p>
                            </div>
                            <div class="pl-con-m">
                                <span class="pl-con-m-xi">231</span>
                                <span class="pl-con-m-gi">/ 2321</span>
                            </div>
                            <div class="pl-con-r">
                                <p class="r-tit"><a href="#">某个帖子</a></p>
                                <div class="r-con">
                                    <span>什么时候发的</span>
                                    <a href="#">谁发的</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    </div>
                    
                </div>
                
            </div>
            <!--post内容-->
        </div>
        <!--wrap_cont-->
        
    </div>
        
    
    <!--超链接blogroll-->
    <div class="blogroll">
        <ul>
            <li><a href="#">广东海洋大学</a></li>
            <li><a href="#">广东海洋大学</a></li>
            <li><a href="#">广东海洋大学</a></li>
            <li><a href="#">广东海洋大学</a></li>
            <li><a href="#">广东海洋大学</a></li>
            <li><a href="#">广东海洋大学</a></li>
            <li><a href="#">广东海洋大学</a></li>
            <li><a href="#">广东海洋大学</a></li>
            <li><a href="#">广东海洋大学</a></li>
            <li><a href="#">广东海洋大学</a></li>
            <li><a href="#">广东海洋大学</a></li>
            <li><a href="#">广东海洋大学</a></li>
            <li><a href="#">广东海洋大学</a></li>
            <li><a href="#">广东海洋大学</a></li>
            <li><a href="#">广东海洋大学</a></li>
            
        </ul>
    </div>
    
    <!--底部footer-->
    <div class="footer">
        <p class="copy">Copyright © 2016  All Rights Reserved.</p>
        <p class="copy">Powered by FZP</p>
    </div>
 
</body>
</html>

