{template "content","header"}
{template "content","top"}
<script type="text/javascript" src="{JS_PATH}ahxb/Validform_v5.3.2.js"></script>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody><tr valign="top">
        <td class="list_content"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="position">
            <tbody><tr>
                <td height="28">现在的位置：<a href="/">首页</a>&nbsp;&gt;&nbsp;在线咨询 </td>
            </tr>
            </tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0" class="box">
            <tbody><tr>
                <td><table width="100%" border="0" cellpadding="3" cellspacing="2">
                    <tbody><tr>
                        <td height="26" align="center" bgcolor="#E1EFFB"><strong style="font-size:16px">王亚林刑辩网律师在线咨询，刑事辩护法律咨询
                        </strong></td>
                    </tr>
                    <tr>
                        <td height="26" align="center" style="text-align:left; margin:0 auto; padding:8px; line-height:22px; background-color:#F4E5CE; color:#996633;"> 1、如果您想得到法律咨询或聘请律师，请提前与我们预约。<br>
                            2、如果您所涉及的案情比较紧急，请直接拨打预约咨询电话：{$info['tel']}。<br>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top">
                            <form action="/index.php?m=ask&c=index&a=ask" method="post" enctype="application/x-www-form-urlencoded" id="myform" onsubmit="if (this.name.value == this.name.defaultValue)
                                this.name.value = '';
                            if (this.introduce.value == this.introduce.defaultValue)
                                this.introduce.value = '';">
                                <input type="hidden" name="typeid" value="1" />
                                <input type="hidden" name="is_ajax" value="1" />
                                {php wy_base::load_sys_class('form', '', 0);}
                            <table width="100%" border="0" align="center" cellpadding="6" cellspacing="0" class="tableborder">
                                <tbody>
                                <tr class="header">
                                    <td colspan="2" bgcolor="#F4F9FD"><strong>请您留言:</strong></td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                    <td>留言内容(*):</td>
                                    <td height="23"><textarea cols="60" rows="12" id="introduce" name="content" onfocus="if (this.value == this.defaultValue)
                                    this.value = ''" onblur="if (this.value == this.defaultValue || this.value == '')
                                                this.value = this.defaultValue">请输入要咨询的案件详情...</textarea></td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                    <td width="20%">姓名:</td>
                                    <td width="722" height="23"><input type="text" name="name" id="name"  value="姓名：（仅律师可见）" onfocus="if (this.value == this.defaultValue)
                                    this.value = ''" onblur="if (this.value == this.defaultValue || this.value == '')
                                                this.value = this.defaultValue" />
                                        *</td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                    <td>联系电话:</td>
                                    <td height="23"><input type="text" name="comment[tel]" id="tel" value="电话：（仅律师可见）" onfocus="if (this.value == this.defaultValue)
                                    this.value = ''" onblur="if (this.value == this.defaultValue || this.value == '')
                                                this.value = this.defaultValue" />
                                        *</td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                    <td>验证码:</td>
                                    <td height="23"><input class="yzm" name="code" id="code" maxlength="4" type="text" value="验证码" onfocus="if (this.value == this.defaultValue)
                                    this.value = ''" onblur="if (this.value == this.defaultValue || this.value == '')
                                                this.value = this.defaultValue" />{form::checkcode('code_img','4','20',100,40)}
                                    </td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                    <td height="23">&nbsp;</td>
                                    <td height="23">
                                        <font id="msgdemo" color="red" style="font-size: 16px;"></font>
                                    </td>
                                </tr>
                                <tr bgcolor="#FFFFFF">
                                    <td height="23">&nbsp;</td>
                                    <td height="23">
                                        <button class="on" name="dosubmit" id="submitform" type="submit">提交</button>
                                        <button type="reset">取消</button>
                                        </td>
                                </tr>
                                </tbody></table>
                        </form><br></td>
                    </tr>
                    </tbody></table></td>
            </tr>
            </tbody></table></td>
    </tr>
    </tbody></table>
<script type="text/javascript">
    $(function() {
        var demo = $("#myform").Validform({
            tiptype: function(msg, o, cssctl) {
                var objtip = $("#msgdemo");
                cssctl(objtip, o.type);
                objtip.text(msg);
            },
            ajaxPost: true, //AJAX请求
            btnSubmit: "#submitform",
            btnReset: "#btn_reset",
            callback: function(data) { //AJAX请求的回调函数
                if (data.status == "SUCCESS") {
                    $('#myform')[0].reset();
                    $('#msgdemo').html(data.message);
                } else {
                    $('#msgdemo').html( data.message);
                    return false;
                }
            }
        });
        demo.addRule([{
            ele: "#name",
            datatype: "*1-8",
            tip: "",
            nullmsg: "姓名不能为空",
            errormsg: "姓名在1-8个字符之间"

        }, {
            ele: "#tel",
            tip: "",
            datatype: "/^0{0,1}(13[0-9]|15[5-9]|15[0-3]|147|180|182|18[5-9])[0-9]{8}$/",
            nullmsg: "请输入手机号码",
            errormsg: "手机号码不正确"

        }, {
            ele: "#introduce",
            datatype: "*6-1000",
            tip: "",
            nullmsg: "咨询内容不能为空",
            errormsg: "咨询内容在6-1000个字之间"

        }, {
            ele: "#code",
            tip: "",
            datatype: "/^[0-9a-zA-Z][0-9a-zA-Z][0-9a-zA-Z][0-9a-zA-Z]$/",
            nullmsg: "请输入验证码",
            errormsg: "请正确输入验证码"

        }]);

    });

</script>
{template "content","footer"}