<!DOCTYPE html>
<html lang="'en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <title>BBS论坛</title>
</head>
    
<body>
    
    <!--顶部toptb-->
    <div id="toptb" class="c1">
        <div class="wp">
            <div class="z">
                <a href="" onclick="setHomepage('');">设为首页</a>
                <a href="" onclick="addFavorite(this.href, '');">收藏本站</a>
            </div>
            <div class="y">
                
            </div>
        </div>
    </div>
    
    <div class="navbar">
        
        <!--logo-->
        <div class="hd">
            <div class="hdc"><h2><a href="index.html">BBS论坛</a></h2></div>
        </div>
        
        <!--navbar-head-->
        <div class="navbar-head">
            
            <h2 id="SpaceName">fzp5431的个人空间</h2>
        
    
            <!--导航-->
            <div class="navbar-nav">
                <ul>
                    <li><a href="{:U('Userindex/personalSpace')}" id="oBtnPzone">我的评论</a></li>
                    <!-- <li><a href="personalSpace-theme.html" id="oBtnTheme">我的主题</a></li> -->
                    <li><a href="{:U('Userindex/personalPost')}" id="oBtnPost">我的帖子</a></li>
                    <li><a href="{:U('Userindex/personalCollect')}" id="oBtnTheme">我的收藏</a></li>
                    <li><a href="{:U('Userindex/personalInfo')}" id="oBtnInfo">个人信息</a></li>
                    <li><a href="{:U('Userindex/personalImg')}" id="oBtnImg">修改头像</a></li>
                    <li><a href="{:U('Userindex/personalPassword')}" id="oBtnPassword">修改密码</a></li>
                </ul>
            </div>
        </div>
        
        
	</div>
    
    <!--内容-->
    <div class="PITwrap">
        
        <div class="PITwrap-con">
            
            <div class="PITwrap-con-left">
                <div class="Pcl">
                    
                    <div class="Pcl-h">
                        <h1>主题</h1>
                    </div>
                    
                    <div class="t1">
                        <form id="themeform">
                            <table cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr class="tfh">
                                        <td class="icn">&nbsp;</td>
                                        <th>主题</th>
                                        <td class="frm">版块/群组</td>
                                        <td class="num">回复/查看</td>
                                        <td class="by"><cite>最后发帖</cite></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <p class="emp">还没有相关帖子</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    
                </div>
            </div>
            
            <div class="PIwrap-con-right">
                <div class="Pcr">
                    <p><a href=""><img src="images/img.png" style="width:150px; height:150px;" /></a></p>
                    <h2><a href="">fzp5431</a></h2>
                </div>
            </div>
            
        </div>
        
    </div>
    
    <!--footer-->
    <div class="footer">
        <p class="copy">Copyright © 2016  All Rights Reserved.</p>
        <p class="copy">Powered by FZP</p>
    </div>
    
</body>
</html>